<div class="col-md-12">
	<div class="card">


		<div class="col-12">
			<div class="card-body">
				<h5 class="card-title text-center">Список регионов</h5>
				<form action="">
					<div class="row justify-content-center">
						<div class="col-md-8 col-sm-12">
							<div class="row">
								<div class="mb-3 text-center">
									<button type="button" class="btn btn-primary" data-bs-toggle="modal"
										data-bs-target="#modal-create-{{_id}}">
										Добавить регион
									</button>
									<!-- Modal -->
									<div class="modal fade text-start" id="modal-create-{{_id}}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
														Регион</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
														<img src="/img/icons/close-dark.svg" alt="">
													</button>
												</div>
												<form class="col-12 m-auto" action="/admin/region/" method="post" id="create-region">
													<div class="modal-body row">
														<div class="mb-3">
															<label class="form-label">Название региона</label>
															<input required type="text" class="form-control" placeholder="Название региона"
																name="name" value="">
														</div>
														<div class="mb-3" id="numberInputs">
															<label class="form-label">Номера регионов</label>
														</div>
														<div class="text-center">
															<button type="button" id="addNumber" class="btn btn-info">Добавить номер</button>
														</div>

														<div class="mb-3">
															<label class="form-label">Описание региона</label>
															<textarea required type="text" class="form-control" placeholder="Название региона"
																name="description" value=""></textarea>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
														<button type="submit" class="btn btn-primary">Добавлять</button>
													</div>
												</form>



												<script>
													document.addEventListener('DOMContentLoaded', function () {
														const numberInputsContainer = document.getElementById('numberInputs');
														const addNumberButton = document.getElementById('addNumber');

														addNumberButton.onclick = function () {
															const inputWrapper = document.createElement('div');
															inputWrapper.className = 'input-group mb-2';

															const numberInput = document.createElement('input');
															numberInput.type = 'number';
															numberInput.className = 'form-control';
															numberInput.placeholder = 'Номер региона';
															numberInput.name = 'number';

															const deleteButton = document.createElement('button');
															deleteButton.type = 'button';
															deleteButton.className = 'btn btn-danger';
															deleteButton.textContent = 'X';
															deleteButton.onclick = function () {
																numberInputsContainer.removeChild(inputWrapper);
															};

															inputWrapper.appendChild(numberInput);
															inputWrapper.appendChild(deleteButton);
															numberInputsContainer.appendChild(inputWrapper);
														};

														document.querySelector('form').addEventListener('submit', function (e) {
															e.preventDefault(); // formaning default submit hodisasini to'xtatish

															// Endi formani dasturiy ravishda yuborish
															e.target.action = '/admin/region'
															e.target.method = 'POST'
															e.target.submit();
														});

													});
												</script>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>

				<div class="table-responsive">
					<table class="table table-bordered table-hover align-middle">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Название региона</th>
								<th scope="col">Номер регионаs</th>
								<th scope="col">Description</th>
								<th scope="col">Дата</th>
								<th scope="col" class="text-center">Изменять</th>
								<th scope="col" class="text-center">Удалит</th>
							</tr>
						</thead>
						<tbody>
							{{#if region}}
							{{#each region}}
							<tr id="{{_id}}">
								<th scope="row">{{@index}}</th>
								<td>{{name}}</td>
								<td>
									{{#each numbers}}
									{{number}} -
									{{/each}}
								</td>
								<td>{{description}}</td>
								<td>{{formatDate createdAt}}</td>
								<td class="text-center">
									<button type="button" class="btn btn-primary" data-bs-toggle="modal"
										data-bs-target="#modal-update-{{_id}}">
										Изменять
									</button>
									<!-- Modal -->
									<div class="modal fade text-start" id="modal-update-{{_id}}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
														Регион</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
														<img src="/img/icons/close-dark.svg" alt="">
													</button>
												</div>
												<form class="col-12 m-auto update-form" action="/admin/region/update/{{_id}}" method="post"
													data-region-id="{{_id}}">
													<div class="modal-body row">
														<div class="mb-3">
															<label class="form-label">Название региона</label>
															<input required type="text" class="form-control" placeholder="Название региона"
																name="name" value="{{name}}">
														</div>
														<div class="mb-3" id="numberInputs-{{_id}}">
															<label class="form-label">Номер регионаs</label>
															{{#each numbers}}
															<div class="input-group mb-2">
																<input type="number" placeholder="Номер региона" class="form-control" name="number"
																	value="{{number}}">
																<button class="btn btn-danger" type="button" onclick="removeNumber(this)">X</button>
															</div>
															{{/each}}
														</div>
														<div class="text-center">
															<button type="button" class="btn btn-info addNumber" data-id="{{_id}}">Добавить
																номер</button>
														</div>

														<div class="mb-3">
															<label class="form-label">Описание региона</label>
															<textarea required type="text" class="form-control" placeholder="Название региона"
																name="description" value="">{{description}}</textarea>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
														<button type="submit" class="btn btn-primary">Добавлять</button>
													</div>
												</form>

												<script>
													document.addEventListener('DOMContentLoaded', function () {
														const numberInputsContainer = document.getElementById('numberInputs');

														document.querySelectorAll('.addNumber').forEach(function (button) {
															button.onclick = function () {
																const regionId = this.getAttribute('data-id');
																const numberInputsContainer = document.getElementById('numberInputs-' + regionId);

																// Input elementini yaratish
																const inputWrapper = document.createElement('div');
																inputWrapper.className = 'input-group mb-2';

																// Raqamli input yaratish
																const numberInput = document.createElement('input');
																numberInput.type = 'number';
																numberInput.className = 'form-control';
																numberInput.placeholder = 'Номер региона';
																numberInput.name = 'number'; // Agar siz serverga bir nechta inputlarni bir array sifatida yubormoqchi bo'lsangiz, 'number[]' deb nomlang.

																// Delete tugmasini yaratish
																const deleteButton = document.createElement('button');
																deleteButton.type = 'button';
																deleteButton.className = 'btn btn-danger';
																deleteButton.textContent = 'X';

																// Delete tugmasi uchun hodisani qo'shish
																deleteButton.onclick = function () {
																	// O'zini o'zi va o'zini o'rab turgan divni o'chirish
																	inputWrapper.remove();
																};

																// Input va delete buttonni inputWrapper ichiga joylashtirish
																inputWrapper.appendChild(numberInput);
																inputWrapper.appendChild(deleteButton);

																// Tuzilgan input groupni numberInputsContainer ichiga qo'shish
																numberInputsContainer.appendChild(inputWrapper);
															};
														});


														document.querySelectorAll('.update-form').forEach(function (form) {
															form.addEventListener('submit', function (e) {
																e.preventDefault(); // Formaning default submit hodisasini to'xtatish

																// Siz kerakli ma'lumotlarni form elementlaridan olishingiz kerak
																// Masalan, agar har bir formada o'ziga xos bir ID yoki keyingi URL uchun biron bir ma'lumot kerak bo'lsa
																const regionId = form.dataset.regionId; // Bu yerda biz formaning data-region-id attributidan foydalanmoqdamiz

																// Endi formani dasturiy ravishda yuborish
																form.action = `/admin/region/update/${regionId}`;
																form.method = 'POST';

																form.submit(); // Formani yuborish
															});
														});

													});
													function removeNumber(element) {
														// Tugma bosilgan elementni o'z ichiga olgan input-group divini topish
														var inputGroup = element.closest('.input-group');
														if (inputGroup) {
															// Ota elementni (numberInputs) o'z ichidan input-group divini o'chirish
															inputGroup.parentNode.removeChild(inputGroup);
														}
													}
												</script>
											</div>
										</div>
									</div>
								</td>
								<td class="text-center">
									<!-- Button trigger modal -->
									<button type="button" class="btn btn-danger" data-bs-toggle="modal"
										data-bs-target="#modal-delete-{{_id}}">
										Удалит
									</button>
									<!-- Modal -->
									<div class="modal fade text-start" id="modal-delete-{{_id}}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5 text-center" id="exampleModalLabel">
														Удалить регион</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
														<img src="/img/icons/close-dark.svg" alt="">
													</button>
												</div>
												<form class="col-12 m-auto" class="forms-sample" action="/admin/region/delete/{{_id}}"
													method="post">
													<div class="modal-body">
														<h5 class="text-primary">Вы правы, удалить регион?</h5>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
														<button type="submit" class="btn btn-danger">Удалить</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</td>
							</tr>
							{{/each}}
							{{else}}
							<tr>
								<td colspan="12" class="text-center py-5">
									<h4 class="text-danger">malumotlar yo'q</h4>
								</td>
							</tr>
							{{/if}}
						</tbody>
					</table>
				</div>





			</div>
		</div>
	</div>
</div>