<section id="home" style="background: url('{{header.image}}') right/cover no-repeat !important;">
	<div class="container">
		<div class="home-wrap">
			<h1 class="home-title">{{header.title}}</h1><button type="button"
				class="btn-def bg-21422F puy-modal__btn home-btn">{{header.button}}</button>
		</div>
		<div class="home__bottom">
			<p>{{header.description}}</p>
		</div>
	</div>
</section><!-- home end --><!-- plate nomer start -->
<section id="plate">
	<div class="container">
		<h1 class="title">каталог номеров</h1>
		<div class="plate-wrap">
			<div class="big-number">
				<div class="car__number">
					<h1 class="harf wrap-item-group"><span class="num__content ac__class" data-bs-value="letter1">*</span>
						<ul class="number_menu">
							<li>*</li>
							<li>А</li>
							<li>В</li>
							<li>Э</li>
							<li>К</li>
							<li>М</li>
							<li>Н</li>
							<li>О</li>
							<li>Р</li>
							<li>С</li>
							<li>Т</li>
							<li>У</li>
							<li>X</li>
						</ul>
					</h1>
					<div class="min-number">
						<h1 class="car__number-one wrap-item-group"><span class="num__content" data-bs-value="number1">*</span>
							<ul class="number_menu">
								<li>*</li>
								<li>0</li>
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>
								<li>8</li>
								<li>9</li>
							</ul>
						</h1>
						<h1 class="car__number-two wrap-item-group"><span class="num__content" data-bs-value="number2">*</span>
							<ul class="number_menu">
								<li>*</li>
								<li>0</li>
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>
								<li>8</li>
								<li>9</li>
							</ul>
						</h1>
						<h1 class="car__number-three wrap-item-group"><span class="num__content" data-bs-value="number3">*</span>
							<ul class="number_menu">
								<li>*</li>
								<li>0</li>
								<li>1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
								<li>5</li>
								<li>6</li>
								<li>7</li>
								<li>8</li>
								<li>9</li>
							</ul>
						</h1>
					</div>
					<h1 class="harf wrap-item-group"><span class="num__content ac__class" data-bs-value="letter2">*</span>
						<ul class="number_menu">
							<li>*</li>
							<li>А</li>
							<li>В</li>
							<li>Э</li>
							<li>К</li>
							<li>М</li>
							<li>Н</li>
							<li>О</li>
							<li>Р</li>
							<li>С</li>
							<li>Т</li>
							<li>У</li>
							<li>X</li>
						</ul>
					</h1>
					<h1 class="harf wrap-item-group"><span class="num__content ac__class" data-bs-value="letter3">*</span>
						<ul class="number_menu">
							<li>*</li>
							<li>А</li>
							<li>В</li>
							<li>Э</li>
							<li>К</li>
							<li>М</li>
							<li>Н</li>
							<li>О</li>
							<li>Р</li>
							<li>С</li>
							<li>Т</li>
							<li>У</li>
							<li>X</li>
						</ul>
					</h1>
				</div>
				<div class="big-number__countr wrap-item-group">
					<h1 class="top-num wrap-item-group"><span class="num__content ac__class" data-bs-value="regionNumber">*</span>
						<ul class="number_menu">
							<li>*</li>
							{{#each regionNumbers}}
							<li>{{number}}</li>
							{{/each}}
						</ul>
					</h1>
					<div class="countr">
						<h1>rus</h1><img src="img/icons/ru-flag.svg" alt="">
					</div>
				</div>
			</div>
			<div class="number_menu--close"></div><!-- numbers table start -->
			<div id="sale-table">
				<div class="sale-table__head">
					<div class="sale-table__container">
						<div class="row">
							<div class="col-5">
								<h3 class="head__title">Номер</h3>
							</div>
							<div class="col-3">
								<div class="wrap-item-group">
									<h3 class="head__title num__content" data-bs-value="region">
										Регион
									</h3>
									<ul class="number_menu" id="region-menu">
										<li data-region-id="all">Регион</li>
										{{#if region}}
										{{#each region}}
										<li data-region-id="{{_id}}" id="regionOption">{{name}}</li>
										{{/each}}
										{{else}}
										<li>no region</li>
										{{/if}}
									</ul>
									<span class="num__content-arrow">
										<img src="/img/icons/arrow_right.svg" alt="">
									</span>
								</div>
							</div>
							<div class="col-2">
								<h3 class="head__title">Цена</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="sale-table__body">
					{{#each number}}
					<div class="table__body-item">
						<div class="sale-table__container">
							<div class="row">
								<div class="col-5">
									<div class="item-car__number">
										<div class="number__left">
											<h2>{{letter1}}</h2>
											<div class="item-min__number">
												<h1>{{number1}}</h1>
												<h1>{{number2}}</h1>
												<h1>{{number3}}</h1>
											</div>
											<h2>{{letter2}}{{letter3}}</h2>
										</div>
										<div class="number__right">
											<h2>{{regionNumber}}</h2>
											<div class="right-country">
												<h4>rus</h4><img src="/img/icons/ru-flag.svg" alt="">
											</div>
										</div>
									</div>
								</div>
								<div class="col-3">
									<h3 class="sale-table__region">{{region.name}}</h3>
								</div>
								<div class="col-2">
									<h3 class="sale-table__price">{{amount}} ₽</h3>
								</div>
								<div class="col-2"><button class="sale-teble__btn puy-modal__btn" type="button">Купить</button></div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div><button class="sale-table__bottom-btn" type="button">Показать
				еще</button><!-- numbers table end -->
		</div>
	</div>
</section><!-- plate nomer end --><!-- decoration start -->
<section id="decoration">
	<div class="container">
		<h1 class="decoration__title">Оформление номера <mark>за 3 часа</mark></h1>
		<div class="decoration-wrap">
			<div class="decoration-cards">
				<div class="row g-xl-4 g-sm-3 g-2" id="decoration-cards">
					{{#each number}}
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
						<div class="decoration-card">
							<div class="card-img"><img src="{{image}}" alt=""></div>
							<div class="card-about">
								<h5><span
										style="text-transform: uppercase;">{{letter1}}{{number1}}{{number2}}{{number3}}{{letter2}}{{letter3}}
										{{regionNumber}}</span> | <span>{{region.name}}</span></h5>
								<h5><span>Одинаковые цифры</span> | <span>Цена до: {{formatDate createdAt}}</span></h5><button
									class="puy-modal__btn card__btn">{{amount}} ₽ / Купить</button>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div><button type="button" class="decoration-wrap__btn">Больше номеров</button>
		</div>
	</div>
</section><!-- decoration end --><!-- buy start -->
<section id="buy">
	<div class="container">
		<h1 class="title">ВЫКYП</h1>
		<div class="buy-wrap">
			<div class="buy-wrap__cards">
				<div class="row g-4 row__orders">
					{{#each content}}
					{{#if isLeft}}
					<div class="col-xl-6 col-lg-6 col-md-12">
						<div class="wrap__cards-card only-img">
							<div class="card-img"><img src="{{image}}" alt=""></div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12">
						<div class="wrap__cards-card">
							<h2 class="card-title">{{title}}</h2>
							<p>{{description}}</p>
						</div>
					</div>
					{{else}}
					<div class="col-xl-6 col-lg-6 col-md-12">
						<div class="wrap__cards-card">
							<h2 class="card-title">{{title}}</h2>
							<p>{{description}}</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12">
						<div class="wrap__cards-card only-img">
							<div class="card-img"><img src="{{image}}" alt=""></div>
						</div>
					</div>
					{{/if}}
					{{/each}}
				</div>
			</div>
			<div class="buy-link puy-modal__btn"><img src="img/icons/arrow-top.svg" alt="">
				<h1>заказать yслyгy</h1>
			</div>
		</div>
	</div>
</section><!-- buy end --><!-- contact start -->
<section id="contact">
	<div class="container">
		<div class="contact-wrap">
			<div class="contact__title-block">
				<h1 class="title">остались вопросы?</h1>
				<p>*поля обязательные для заполнения</p>
			</div>
			<form action="/send/message" class="contact-wrap__form" method="post">
				<div class="row g-2">
					<div class="col-xl-4 col-sm-4"><input type="text" placeholder="Ваше имя*" required name="name"></div>
					<div class="col-xl-4 col-sm-4"><input type="number" placeholder="Телефон*" required name="phone"></div>
					<div class="col-xl-4 col-sm-4"><input type="email" placeholder="Email" required name="email"></div>
					<div class="col-xl-12"><textarea required placeholder="Задайте Ваш вопрос" name="message"></textarea></div>
					<div class="col-xl-12"><button type="submit" class="form-submit__btn">Отправить заявку</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section><!-- contact end --><!-- footer start -->

<script>
	document.querySelectorAll('#region-menu li').forEach(function (item) {
		item.addEventListener('click', function () {
			var regionId = this.getAttribute('data-region-id');
			if (regionId) {
				fetch('/api/region/' + regionId + '/numbers')
					.then(response => response.json())
					.then(data => {
						var numbersList = document.querySelector('.big-number__countr .number_menu');
						numbersList.innerHTML = ''; // Avvalgi ma'lumotlarni tozalaymiz

						data.forEach(function (number) {
							var li = document.createElement('li');
							li.textContent = number.number; // Bu yerda "number" regionga tegishli raqamlardan biridir
							numbersList.appendChild(li);
						});
					})
					.catch(error => {
						console.error('Error:', error);
					});
			}
		});
	});
</script>